body{
    background-image: url(../img/estrelas.jpg);
    background-size: 100%;
    background-repeat: repeat;
}

#container{
    margin-top: 3%;
    border-color: rgb(255, 255, 255);
    border-style: double;
    border-radius: 25px;
}

.logo{
    color: rgb(130, 50, 206);
}

.borda{
    border-radius: 25px;
    text-align: center;
    margin-top: 2%;
    margin-left: 2px;
    opacity: 0.6;
    width: 70%;
}

.contato{
    text-align: center;
    border-radius: 25px;
    margin-top: 3%;
    margin-left: 55%;
    opacity: 0.6;
    width: 70%;
}

.fundo{
    border-radius: 25px;
    text-align: right;
    margin-top: 2%;
    opacity: 0.7;
}

.link_1{
    color: rgb(115, 3, 220);
}

.link_1:hover{
    background-color: rgb(115, 3, 220);
    color: rgb(255, 255, 255);
}

.imagem{
    margin-top: 5%;
    text-align: center;
    
}

.img_1{
    border-radius: 25px;
}

.lateral{
    border-radius: 20px;
    text-align: center;
    margin-top: 30%;
    margin-left: 40px;
    opacity: 0.7;
    width: 70%
}

.link_2{
    color: rgb(115, 3, 220);
    border-radius: 20px;
}

.link_2:hover{
    color: rgb(105, 107, 233);
}

h6{
    margin-top: 5%;
}

.principal_corpo{
    border-radius: 20px;
    text-align: center;
    margin-top: 10%;
    opacity: 0.7;
}

.texto{
    margin-top: 5%;
    color: rgb(175, 17, 254);
    text-align: justify;
}

h2{
    padding-top: 4px;
}

h4{
    padding-top: 1%;
    color: rgb(175, 17, 254);
}

p{
    text-indent: 25px;
}

.base{
    border-radius: 20px;
    text-align: center;
    margin-top: 5%;
    margin-left: 7%;
    opacity: 0.9;
    width: 85%
}